VITE_API_URL="http://localhost:3000"
VITE_SOLANA_RPC_URL="https://api.devnet.solana.com"
VITE_INVEST_TREASURY_PUBKEY="SameBase58AsServerINVEST_TREASURY_PUBKEY"
VITE_SOLANA_JUPITER_RPC_URL="https://api.mainnet-beta.solana.com"
